<ul class="users">
  <li class="col-md-12">
    <%= gravatar_for user, size: Settings.img_size %>
    <span><%= link_to user.name, user %></span>
    <% if current_user.is_admin? && !current_user.current_user?(user) %>
      <span class= "col-md-offset-3"> <%= link_to t(".delete"), user, method: :delete,
        data: {confirm: t(".you_sure")}, class: "btn btn-danger" %></span>
    <% end %>
  </li>
</ul>
